{% extends "base.html" %}
{% block content %}

<div class="container">
  
  <h2>{{ 'Opdater' if table else 'Nyt' }} Bord</h2>
  <form method="post">
    <label for="capacity">Kapacitet:</label><br>
    <input
      type="number"
      id="capacity"
      name="capacity"
      min="1"
      value="{{ table.capacity if table else '' }}"
      required><br><br>

    <button type="submit">
      {{ 'Opdater' if table else 'Opret' }}
    </button>

    <p><a href="{{ url_for('admin_tables') }}">Anuller</a></p>
  </form>
</div>
{% endblock %}
